{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TotesAmburjassot</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/blog.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
          <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                      <!--<a class="navbar-brand" href="#">
                        <img alt="Brand" src="{% static "images/logocandidatura_navegacion.png" %}">
                      </a>-->

                          <button type="button" class="navbar-toggle collapsed"
                              data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Totesamburjassot</a>
                    </div>
                     <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">Ideario<span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Manifiesto</a></li>
                            <li><a href="#">Código Ético</a></li>
                            <li><a href="#">Principios y Compromisos</a></li>
                            <li><a href="#">Programa Electoral</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">Movimientos Sociales<span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Fines Sociales</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">Grupo Municipal<span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Fines Sociales</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Organigrama</a></li>
                        </li>
                      </ul>
                </div>
          </nav>
          </div>
          <div class="container">
            <div class="row">

              <!-- Columna de las Entradas del blog -->
              <div class="col-md-8">
                <h1 class="page-header">
                  Inicio
                  <small>Blog</small>
                </h1>
                {% if entradas %}
                {% for entrada in entradas %}
                {% if entrada.publicada %}
                  <h2>
                    <a href="#">{{ entrada.titulo }}</a>
                  </h2>
                  <p class="lead">
                    por <a href="#">{{ entrada.autor }}</a>
                  </p>
                  <p><span class="glyphicon glyphicon-time"></span> Escrito el <time datetime="{{entrada.fecha_creacion|date:"c"}}">{{entrada.fecha_creacion|date}}</time></p>
                  <hr>
                  <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                  <hr>
                  <p>{{ entrada.descripcion }}</p>
                  <a class="btn btn-primary" href="#">Leer Más <span class="glyphicon glyphicon-chevron-right"></span></a>

                  <hr>
                {% endif %}
                {% endfor %}
                {% else %}
                  <p>No hay post</p>
                {% endif %}
              </div>

            </div>
          </div>
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "js/blog.js" %}"></script>

  </body>
</html>
